@tailwind base;
@tailwind components;
@tailwind utilities;

.navWidth {
    width: calc(100% - 20px);
}

body {
    /* background-color: rgb(227, 224, 224); */
    background-color: #6fbefb;
    color: #48646F;
}

.BGhome {
    height: 100%;
    width: 100%;
    /* background-image: rgba(37, 141, 222); */
    background-image: url(../public/paisa.jpg);
    clip-path: polygon(0 0, 80% 0, 45% 100%, 0% 100%);
    background-size: cover;
}

.sendMoney {
    
}